%h1 
Be Light Bee

.fas.fa-lightbulb
=link_to root_path do
  .fa.fa-home
    
=link_to courses_path, class: 'btn btn-success' do
  .fa.fa-book
  Course
  // = link_to privacy_policy_path, class: "btn btn-lg btn-warning" do
  //   %i.fa-solid.fa-video
  //   Videos
    
  // = link_to  courses_path, class: "btn btn-lg btn-warning" do
  //   %i.fa-solid.fa-book
  //   Courses

    
